 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 57% 25%);
  }
  
  .wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .container {
    background-color: hsl(0, 12%, 7%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .logo img {
    height: 50px;
  }
  
  .heading h1 {
    margin: 0;
  }
  
  .main {
    text-align: center;
  }
  
  .form {
    padding: 20px;
    border: 1px solid hsla(0, 89%, 4%, 0.582);
    border-radius: 5px;
    background-color: #1c0303;
  }
  
  h2 {
    margin-top: 0;
  }
  
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button {
    margin-top: 10px;
  }
  
  input[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #0056b3;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  
